.animated {
    transition: all 200ms;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* This is used to allow table cell to fill height of the table */
.fake-height {
    height: 1px;
}

#github-logo {
    width: 32px;
    height: 32px;
}

#uav-logo {
    width: 128px;
    height: auto;
}

#option-container {
    max-width: 48rem;
}
